@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto', sans-serif;
    
}

body{
    padding: 5px 10px;
    background: black;
    color: white;
}


/* nav bar section */
nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 10px ;
}

.menu-logo-section{
    display: flex;
    align-items: center;
}

.menu-logo-section>img{
    margin-left: 15px;
}

.search-section{
    display: flex;
    align-items: center;
    width: 30%;
}

#mikeBtn{
    border-radius: 50%;
    background-color : #F0F0F0 ;
    padding: 11px;
    margin-left: 10px;
    transition: all .2s ease;
}

#mikeBtn:hover{
    cursor: pointer;
    background-color: #d4d1d1 ;
}

.search-section input{
    outline: none;
    border: none;
    padding: 10px;
    width: 75%;
}


.textsearch{
    border-radius: 50px ;
    border: rgb(201, 199, 199) solid 1px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchBtn{
    border-radius:  0px 50px 50px 0px  ;
    border: none;
    border-left: rgb(201, 199, 199) solid 1px;
    padding: 10px;
    width: 20%;
    background-color: #F0F0F0 ;
    transition: all .2s ease;
}


#searchBtn:hover{
    cursor: pointer;
    background-color: #d4d1d1 ;
}


.user-section{
    width: 8%;
    display: flex;
    justify-content: space-between;
}

/*menu*/

.menu-bar{
    margin-right: 10px;
    margin-top: 10px;
}

.menu-bar>div{
    display: flex;
    align-items: center;
    width: 200px;
    padding-block: 10px;
    transition: all .3s ease;
    padding: 10px;
}


#thumbnail{
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

.duration{
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    background-color: rgba(31, 30, 30, 0.607);
    color: white;
    border-radius: 10px;
}



.menu-bar p{
    margin-left: 20px;
}

.menu-bar>div:hover{
    background-color: rgb(226, 223, 223);
    border-radius: 10px;
    cursor: pointer;
}


.active{
    background-color: rgb(226, 223, 223);
    border-radius: 10px;
}



.filters>button{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    margin: 10px 5px;
}
/* ////////////// */




.video-card{
    margin: 10px;
    display: flex;
}


.main-section{
    display :flex
}


.channel{
    display: flex;
}

#description{
    margin-left: 20px;
}

#description>div{
    margin-block-end: 10px;
}